# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

*yarn-error.log
package-lock.json
npm-debug.log
lerna-debug.log

coverage
.DS_Store
tsconfig.tsbuildinfo

.idea/

**/.env

.cache-test

**/build/
/build-dist/

emulators/data/DOM-*.json

/.mitm-ca
.data
.gh
**/dist
/.eslintcache
/.network.db
connect

.history/
.vscode/

build
build-dist
/.data-test
browserstack.err

agent/mitm-socket/dist
/real-user-agents/local.log

paths.local.json

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
/double-agent/collect/certs/server.key

apps/browser-emulator-builder/data/*
