@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: #f2f4f5;
}

a {
	color: #b700c0;
	text-decoration: underline dashed;
	text-underline-offset: 6px;
	text-decoration-thickness: 1px;
}
